# Precios de Combustibles - MinMinasEconomía y Finanzas
En este conjunto de Datos se tiene los precios de venta del combustible reportados por las Estaciones de Servicio (EDS) acorde al precio regulado o de mercado
### Actualizado 16 de agosto de 2017
### Datos proporcionados por
* Ministerio de Minas y Energía

(API socrata)

In [1]:
import pandas as pd
print(pd.__version__)

0.20.3

In [5]:
df = pd.read_json("https://www.datos.gov.co/resource/3a4x-4hwu.json")

* Los primeros cuatro datos:

In [8]:
df.head(4)

,bandera,codigodpto,codigomunicipio,departamento,direccion,estado,fecharegistro,municipio,nombrecomercial,periodo,precio,producto
0,MOBIL,5,1,ANTIOQUIA,Diagonal 80 No.76-95,Activo,2016-02-18T00:00:00.000,MEDELLIN,ESSO LA 80,2016-02-01T00:00:00.000,7390,BIODIESEL EXTRA
1,MOBIL,68,1,SANTANDER,Calle 17 No.19-62,Activo,2016-02-24T00:00:00.000,BUCARAMANGA,LA GACELA,2016-02-01T00:00:00.000,7221,BIODIESEL EXTRA
2,MOBIL,52,1,NARIÑO,CALLE 22 N 9 ESTE 20 VIA ORIENTE,Activo,2016-06-04T00:00:00.000,SAN JUAN DE PASTO,COOPERATIVA DE TRANSPORTADORES URBANOS CIUDAD ...,2016-04-01T00:00:00.000,5690,BIODIESEL EXTRA
3,TERPEL,68,397,SANTANDER,CARRERA 3 No. 5-04,Activo,2016-04-02T00:00:00.000,LA PAZ,ESTACION DE SERVICIO GERSAN,2016-02-01T00:00:00.000,7650,BIODIESEL EXTRA

* Ver cuantas filas y columnas tiene el data set

In [9]:
df.shape

(1000, 12)

* Retorna estadisticas de las columnas númericas en el dataset

In [11]:
df.describe()

        codigodpto  codigomunicipio        precio
count  1000.000000      1000.000000   1000.000000
mean     19.509000       264.317000   8007.268000
std      23.850005       236.182138   1187.880737
min       5.000000         1.000000   4800.000000
25%       5.000000        88.000000   7470.000000
50%       5.000000       233.500000   7737.000000
75%      25.000000       364.000000   8160.000000
max      99.000000       899.000000  11800.000000

In [12]:
df.dtypes

bandera            object
codigodpto          int64
codigomunicipio     int64
departamento       object
direccion          object
estado             object
fecharegistro      object
municipio          object
nombrecomercial    object
periodo            object
precio              int64
producto           object
dtype: object